@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap');

@layer sora {
    @font-face {
      font-family: Sora;
      font-weight: 400;
      src: url(/fonts/Sora/Sora-Regular.ttf) format("woff");
    }
  }